@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);





body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Raleway', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Raleway', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Roboto', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Roboto', sans-serif;
}
.btn {
  border-radius: 1.6em;
}
.mbr-subscribe .btn {
  border-radius: 1.6em !important;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Lora', serif;
}
.mbr-author-name {
  font-family: 'Roboto', sans-serif;
}
.mbr-author-desc {
  font-family: 'Lora', serif;
}
.mbr-plan-title {
  font-family: 'Roboto', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Lora', serif;
}
.bg-primary {
  background-color: #000000 !important;
}
.bg-success {
  background-color: #90a878 !important;
}
.bg-info {
  background-color: #7e9b9f !important;
}
.bg-warning {
  background-color: #2969b0 !important;
}
.bg-danger {
  background-color: #f28281 !important;
}
.btn-primary {
  background-color: #000000;
  border-color: #000000;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-secondary {
  background-color: #bfcecb;
  border-color: #bfcecb;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #94ada8;
  border-color: #94ada8;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #94ada8 !important;
  border-color: #94ada8 !important;
}
.btn-info {
  background-color: #7e9b9f;
  border-color: #7e9b9f;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #597478;
  border-color: #597478;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #597478 !important;
  border-color: #597478 !important;
}
.btn-success {
  background-color: #90a878;
  border-color: #90a878;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #6a8153;
  border-color: #6a8153;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #6a8153 !important;
  border-color: #6a8153 !important;
}
.btn-warning {
  background-color: #2969b0;
  border-color: #2969b0;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #1b4472;
  border-color: #1b4472;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #1b4472 !important;
  border-color: #1b4472 !important;
}
.btn-danger {
  background-color: #f28281;
  border-color: #f28281;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #eb3d3c;
  border-color: #eb3d3c;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #eb3d3c !important;
  border-color: #eb3d3c !important;
}
.btn-primary-outline {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #85a29c;
  color: #85a29c;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #bfcecb;
  border-color: #bfcecb;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #bfcecb !important;
  border-color: #bfcecb !important;
}
.btn-info-outline {
  background: none;
  border-color: #4e6669;
  color: #4e6669;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #7e9b9f;
  border-color: #7e9b9f;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #7e9b9f !important;
  border-color: #7e9b9f !important;
}
.btn-success-outline {
  background: none;
  border-color: #5d7149;
  color: #5d7149;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #90a878;
  border-color: #90a878;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #90a878 !important;
  border-color: #90a878 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #16385d;
  color: #16385d;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #2969b0;
  border-color: #2969b0;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #2969b0 !important;
  border-color: #2969b0 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #e82625;
  color: #e82625;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #f28281;
  border-color: #f28281;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #f28281 !important;
  border-color: #f28281 !important;
}
.text-primary {
  color: #000000 !important;
}
.text-success {
  color: #90a878 !important;
}
.text-info {
  color: #7e9b9f !important;
}
.text-warning {
  color: #2969b0 !important;
}
.text-danger {
  color: #f28281 !important;
}
.alert-success {
  background-color: #90a878;
}
.alert-info {
  background-color: #7e9b9f;
}
.alert-warning {
  background-color: #2969b0;
}
.alert-danger {
  background-color: #f28281;
}
.btn-social {
  border-color: #000000;
}
.btn-social:hover {
  background: #000000;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #000000;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #000000;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #000000;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #000000;
}
.lead a,
.lead a:hover {
  color: #000000;
}
.lead blockquote {
  border-color: #000000;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #b3b3b3;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #d0dac6;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #c7d4d5;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #79aae0;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #000000;
}
#ext_menu-1y .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-1y .navbar-caption {
  color: #ffffff;
}
#ext_menu-1y .navbar-toggler {
  color: #ff0000;
}
#ext_menu-1y .close-icon::before,
#ext_menu-1y .close-icon::after {
  background-color: #ff0000;
}
#ext_menu-1y .link,
#ext_menu-1y .dropdown-item {
  color: #ff0000;
  font-family: 'Open Sans', sans-serif;
}
#ext_menu-1y .link {
  font-size: 0.6rem;
}
#ext_menu-1y .dropdown-item,
#ext_menu-1y .nav-dropdown-sm .link {
  font-size: 0.650rem;
}
#ext_menu-1y .link:hover,
#ext_menu-1y .dropdown-item:hover,
#ext_menu-1y .link:focus,
#ext_menu-1y .dropdown-item:focus {
  color: #000000;
}
#ext_menu-1y .link[aria-expanded="true"],
#ext_menu-1y .dropdown-menu {
  background: #000000;
}
#ext_menu-1y .nav-dropdown-sm .link:focus,
#ext_menu-1y .nav-dropdown-sm .link:hover,
#ext_menu-1y .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-1y .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#ext_menu-1y .navbar,
#ext_menu-1y .nav-dropdown-sm,
#ext_menu-1y .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-1y .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#ext_menu-1y .bg-color.transparent .link {
  color: #ff0000;
  transition: none;
}
#ext_menu-1y .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-1y .bg-color.transparent.opened .link:hover,
#ext_menu-1y .bg-color.transparent.opened .link:focus {
  color: #000000;
}
#ext_menu-1y .link[aria-expanded="true"],
#ext_menu-1y .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#msg-box8-1s .mbr-section-title,
#msg-box8-1s p {
  color: #fff;
}
#msg-box8-1s .lead P {
  text-align: center;
  color: #e25041;
  font-size: 25px;
}
#msg-box8-1s .mbr-section-title {
  color: #000000;
  font-size: 100px;
}
#header3-16 .mbr-section-title,
#header3-16 .mbr-section-subtitle {
  text-align: center;
}
#header3-27 .mbr-section-title,
#header3-27 .mbr-section-subtitle {
  text-align: center;
}
#header3-27 .mbr-section-title {
  color: #ffffff;
}
#header3-17 .mbr-section-title,
#header3-17 .mbr-section-subtitle {
  text-align: center;
}
#header3-18 .mbr-section-title,
#header3-18 .mbr-section-subtitle {
  text-align: center;
}
#header3-19 .mbr-section-title,
#header3-19 .mbr-section-subtitle {
  text-align: center;
}
#header3-1a .mbr-section-title,
#header3-1a .mbr-section-subtitle {
  text-align: center;
}
#header3-1b .mbr-section-title,
#header3-1b .mbr-section-subtitle {
  text-align: center;
}
#header3-1c .mbr-section-title,
#header3-1c .mbr-section-subtitle {
  text-align: center;
}
#header3-1t .mbr-section-title,
#header3-1t .mbr-section-subtitle {
  text-align: center;
}
#header3-1u .mbr-section-title,
#header3-1u .mbr-section-subtitle {
  text-align: center;
}
#form1-x .form-control-label {
  color: #000000;
}
#form1-x .mbr-section-title {
  color: #000000;
  font-family: 'Roboto', sans-serif;
}
#footer1-1r P {
  color: #ffffff;
}

#ext_menu-6 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-6 .navbar-caption {
  color: #ffffff;
}
#ext_menu-6 .navbar-toggler {
  color: #ff0000;
}
#ext_menu-6 .close-icon::before,
#ext_menu-6 .close-icon::after {
  background-color: #ff0000;
}
#ext_menu-6 .link,
#ext_menu-6 .dropdown-item {
  color: #ff0000;
  font-family: 'Open Sans', sans-serif;
}
#ext_menu-6 .link {
  font-size: 0.6rem;
}
#ext_menu-6 .dropdown-item,
#ext_menu-6 .nav-dropdown-sm .link {
  font-size: 0.650rem;
}
#ext_menu-6 .link:hover,
#ext_menu-6 .dropdown-item:hover,
#ext_menu-6 .link:focus,
#ext_menu-6 .dropdown-item:focus {
  color: #000000;
}
#ext_menu-6 .link[aria-expanded="true"],
#ext_menu-6 .dropdown-menu {
  background: #000000;
}
#ext_menu-6 .nav-dropdown-sm .link:focus,
#ext_menu-6 .nav-dropdown-sm .link:hover,
#ext_menu-6 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-6 .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#ext_menu-6 .navbar,
#ext_menu-6 .nav-dropdown-sm,
#ext_menu-6 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-6 .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#ext_menu-6 .bg-color.transparent .link {
  color: #ff0000;
  transition: none;
}
#ext_menu-6 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-6 .bg-color.transparent.opened .link:hover,
#ext_menu-6 .bg-color.transparent.opened .link:focus {
  color: #000000;
}
#ext_menu-6 .link[aria-expanded="true"],
#ext_menu-6 .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#header3-1h .mbr-section-title,
#header3-1h .mbr-section-subtitle {
  text-align: center;
}
#header3-1h H3 {
  text-align: right;
}
#footer1-1r P {
  color: #ffffff;
}

#ext_menu-8 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-8 .navbar-caption {
  color: #ffffff;
}
#ext_menu-8 .navbar-toggler {
  color: #ff0000;
}
#ext_menu-8 .close-icon::before,
#ext_menu-8 .close-icon::after {
  background-color: #ff0000;
}
#ext_menu-8 .link,
#ext_menu-8 .dropdown-item {
  color: #ff0000;
  font-family: 'Open Sans', sans-serif;
}
#ext_menu-8 .link {
  font-size: 0.6rem;
}
#ext_menu-8 .dropdown-item,
#ext_menu-8 .nav-dropdown-sm .link {
  font-size: 0.650rem;
}
#ext_menu-8 .link:hover,
#ext_menu-8 .dropdown-item:hover,
#ext_menu-8 .link:focus,
#ext_menu-8 .dropdown-item:focus {
  color: #000000;
}
#ext_menu-8 .link[aria-expanded="true"],
#ext_menu-8 .dropdown-menu {
  background: #000000;
}
#ext_menu-8 .nav-dropdown-sm .link:focus,
#ext_menu-8 .nav-dropdown-sm .link:hover,
#ext_menu-8 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-8 .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#ext_menu-8 .navbar,
#ext_menu-8 .nav-dropdown-sm,
#ext_menu-8 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-8 .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#ext_menu-8 .bg-color.transparent .link {
  color: #ff0000;
  transition: none;
}
#ext_menu-8 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-8 .bg-color.transparent.opened .link:hover,
#ext_menu-8 .bg-color.transparent.opened .link:focus {
  color: #000000;
}
#ext_menu-8 .link[aria-expanded="true"],
#ext_menu-8 .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#header3-1j .mbr-section-title,
#header3-1j .mbr-section-subtitle {
  text-align: center;
}
#header3-1j H3 {
  color: #232323;
}
#footer1-1r P {
  color: #ffffff;
}

#ext_menu-b .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-b .navbar-caption {
  color: #ffffff;
}
#ext_menu-b .navbar-toggler {
  color: #ff0000;
}
#ext_menu-b .close-icon::before,
#ext_menu-b .close-icon::after {
  background-color: #ff0000;
}
#ext_menu-b .link,
#ext_menu-b .dropdown-item {
  color: #ff0000;
  font-family: 'Open Sans', sans-serif;
}
#ext_menu-b .link {
  font-size: 0.6rem;
}
#ext_menu-b .dropdown-item,
#ext_menu-b .nav-dropdown-sm .link {
  font-size: 0.650rem;
}
#ext_menu-b .link:hover,
#ext_menu-b .dropdown-item:hover,
#ext_menu-b .link:focus,
#ext_menu-b .dropdown-item:focus {
  color: #000000;
}
#ext_menu-b .link[aria-expanded="true"],
#ext_menu-b .dropdown-menu {
  background: #000000;
}
#ext_menu-b .nav-dropdown-sm .link:focus,
#ext_menu-b .nav-dropdown-sm .link:hover,
#ext_menu-b .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-b .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#ext_menu-b .navbar,
#ext_menu-b .nav-dropdown-sm,
#ext_menu-b .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-b .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#ext_menu-b .bg-color.transparent .link {
  color: #ff0000;
  transition: none;
}
#ext_menu-b .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-b .bg-color.transparent.opened .link:hover,
#ext_menu-b .bg-color.transparent.opened .link:focus {
  color: #000000;
}
#ext_menu-b .link[aria-expanded="true"],
#ext_menu-b .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#header3-1g .mbr-section-title,
#header3-1g .mbr-section-subtitle {
  text-align: center;
}
#footer1-1r P {
  color: #ffffff;
}

#ext_menu-d .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-d .navbar-caption {
  color: #ffffff;
}
#ext_menu-d .navbar-toggler {
  color: #ff0000;
}
#ext_menu-d .close-icon::before,
#ext_menu-d .close-icon::after {
  background-color: #ff0000;
}
#ext_menu-d .link,
#ext_menu-d .dropdown-item {
  color: #ff0000;
  font-family: 'Open Sans', sans-serif;
}
#ext_menu-d .link {
  font-size: 0.6rem;
}
#ext_menu-d .dropdown-item,
#ext_menu-d .nav-dropdown-sm .link {
  font-size: 0.650rem;
}
#ext_menu-d .link:hover,
#ext_menu-d .dropdown-item:hover,
#ext_menu-d .link:focus,
#ext_menu-d .dropdown-item:focus {
  color: #000000;
}
#ext_menu-d .link[aria-expanded="true"],
#ext_menu-d .dropdown-menu {
  background: #000000;
}
#ext_menu-d .nav-dropdown-sm .link:focus,
#ext_menu-d .nav-dropdown-sm .link:hover,
#ext_menu-d .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-d .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#ext_menu-d .navbar,
#ext_menu-d .nav-dropdown-sm,
#ext_menu-d .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-d .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#ext_menu-d .bg-color.transparent .link {
  color: #ff0000;
  transition: none;
}
#ext_menu-d .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-d .bg-color.transparent.opened .link:hover,
#ext_menu-d .bg-color.transparent.opened .link:focus {
  color: #000000;
}
#ext_menu-d .link[aria-expanded="true"],
#ext_menu-d .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#header3-1k .mbr-section-title,
#header3-1k .mbr-section-subtitle {
  text-align: center;
}
#header3-1k H3 {
  color: #ffffff;
}
#footer1-1r P {
  color: #ffffff;
}

#ext_menu-f .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-f .navbar-caption {
  color: #ffffff;
}
#ext_menu-f .navbar-toggler {
  color: #ff0000;
}
#ext_menu-f .close-icon::before,
#ext_menu-f .close-icon::after {
  background-color: #ff0000;
}
#ext_menu-f .link,
#ext_menu-f .dropdown-item {
  color: #ff0000;
  font-family: 'Open Sans', sans-serif;
}
#ext_menu-f .link {
  font-size: 0.6rem;
}
#ext_menu-f .dropdown-item,
#ext_menu-f .nav-dropdown-sm .link {
  font-size: 0.650rem;
}
#ext_menu-f .link:hover,
#ext_menu-f .dropdown-item:hover,
#ext_menu-f .link:focus,
#ext_menu-f .dropdown-item:focus {
  color: #000000;
}
#ext_menu-f .link[aria-expanded="true"],
#ext_menu-f .dropdown-menu {
  background: #000000;
}
#ext_menu-f .nav-dropdown-sm .link:focus,
#ext_menu-f .nav-dropdown-sm .link:hover,
#ext_menu-f .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-f .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#ext_menu-f .navbar,
#ext_menu-f .nav-dropdown-sm,
#ext_menu-f .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-f .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#ext_menu-f .bg-color.transparent .link {
  color: #ff0000;
  transition: none;
}
#ext_menu-f .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-f .bg-color.transparent.opened .link:hover,
#ext_menu-f .bg-color.transparent.opened .link:focus {
  color: #000000;
}
#ext_menu-f .link[aria-expanded="true"],
#ext_menu-f .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#header3-1l .mbr-section-title,
#header3-1l .mbr-section-subtitle {
  text-align: center;
}
#header3-1l H3 {
  color: #000000;
}
#footer1-1r P {
  color: #ffffff;
}

#header3-1n .mbr-section-title,
#header3-1n .mbr-section-subtitle {
  text-align: center;
}
#header3-1n H3 {
  color: #ffffff;
}
#ext_menu-k .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-k .navbar-caption {
  color: #ffffff;
}
#ext_menu-k .navbar-toggler {
  color: #ff0000;
}
#ext_menu-k .close-icon::before,
#ext_menu-k .close-icon::after {
  background-color: #ff0000;
}
#ext_menu-k .link,
#ext_menu-k .dropdown-item {
  color: #ff0000;
  font-family: 'Open Sans', sans-serif;
}
#ext_menu-k .link {
  font-size: 0.6rem;
}
#ext_menu-k .dropdown-item,
#ext_menu-k .nav-dropdown-sm .link {
  font-size: 0.650rem;
}
#ext_menu-k .link:hover,
#ext_menu-k .dropdown-item:hover,
#ext_menu-k .link:focus,
#ext_menu-k .dropdown-item:focus {
  color: #000000;
}
#ext_menu-k .link[aria-expanded="true"],
#ext_menu-k .dropdown-menu {
  background: #000000;
}
#ext_menu-k .nav-dropdown-sm .link:focus,
#ext_menu-k .nav-dropdown-sm .link:hover,
#ext_menu-k .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-k .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#ext_menu-k .navbar,
#ext_menu-k .nav-dropdown-sm,
#ext_menu-k .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-k .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#ext_menu-k .bg-color.transparent .link {
  color: #ff0000;
  transition: none;
}
#ext_menu-k .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-k .bg-color.transparent.opened .link:hover,
#ext_menu-k .bg-color.transparent.opened .link:focus {
  color: #000000;
}
#ext_menu-k .link[aria-expanded="true"],
#ext_menu-k .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#header3-1m .mbr-section-title,
#header3-1m .mbr-section-subtitle {
  text-align: center;
}
#header3-1m H3 {
  color: #ffffff;
}
#footer1-1r P {
  color: #ffffff;
}

#ext_menu-z .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-z .navbar-caption {
  color: #ffffff;
}
#ext_menu-z .navbar-toggler {
  color: #ff0000;
}
#ext_menu-z .close-icon::before,
#ext_menu-z .close-icon::after {
  background-color: #ff0000;
}
#ext_menu-z .link,
#ext_menu-z .dropdown-item {
  color: #ff0000;
  font-family: 'Open Sans', sans-serif;
}
#ext_menu-z .link {
  font-size: 0.6rem;
}
#ext_menu-z .dropdown-item,
#ext_menu-z .nav-dropdown-sm .link {
  font-size: 0.650rem;
}
#ext_menu-z .link:hover,
#ext_menu-z .dropdown-item:hover,
#ext_menu-z .link:focus,
#ext_menu-z .dropdown-item:focus {
  color: #000000;
}
#ext_menu-z .link[aria-expanded="true"],
#ext_menu-z .dropdown-menu {
  background: #000000;
}
#ext_menu-z .nav-dropdown-sm .link:focus,
#ext_menu-z .nav-dropdown-sm .link:hover,
#ext_menu-z .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-z .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#ext_menu-z .navbar,
#ext_menu-z .nav-dropdown-sm,
#ext_menu-z .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-z .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#ext_menu-z .bg-color.transparent .link {
  color: #ff0000;
  transition: none;
}
#ext_menu-z .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-z .bg-color.transparent.opened .link:hover,
#ext_menu-z .bg-color.transparent.opened .link:focus {
  color: #000000;
}
#ext_menu-z .link[aria-expanded="true"],
#ext_menu-z .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#header3-1o .mbr-section-title,
#header3-1o .mbr-section-subtitle {
  text-align: center;
}
#header3-1o H3 {
  color: #000000;
}
#slider3-10 H2 {
  color: #000000;
}
#footer1-1r P {
  color: #ffffff;
}

#ext_menu-11 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-11 .navbar-caption {
  color: #ffffff;
}
#ext_menu-11 .navbar-toggler {
  color: #ff0000;
}
#ext_menu-11 .close-icon::before,
#ext_menu-11 .close-icon::after {
  background-color: #ff0000;
}
#ext_menu-11 .link,
#ext_menu-11 .dropdown-item {
  color: #ff0000;
  font-family: 'Open Sans', sans-serif;
}
#ext_menu-11 .link {
  font-size: 0.6rem;
}
#ext_menu-11 .dropdown-item,
#ext_menu-11 .nav-dropdown-sm .link {
  font-size: 0.650rem;
}
#ext_menu-11 .link:hover,
#ext_menu-11 .dropdown-item:hover,
#ext_menu-11 .link:focus,
#ext_menu-11 .dropdown-item:focus {
  color: #000000;
}
#ext_menu-11 .link[aria-expanded="true"],
#ext_menu-11 .dropdown-menu {
  background: #000000;
}
#ext_menu-11 .nav-dropdown-sm .link:focus,
#ext_menu-11 .nav-dropdown-sm .link:hover,
#ext_menu-11 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-11 .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#ext_menu-11 .navbar,
#ext_menu-11 .nav-dropdown-sm,
#ext_menu-11 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-11 .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#ext_menu-11 .bg-color.transparent .link {
  color: #ff0000;
  transition: none;
}
#ext_menu-11 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-11 .bg-color.transparent.opened .link:hover,
#ext_menu-11 .bg-color.transparent.opened .link:focus {
  color: #000000;
}
#ext_menu-11 .link[aria-expanded="true"],
#ext_menu-11 .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#header3-1q .mbr-section-title,
#header3-1q .mbr-section-subtitle {
  text-align: center;
}
#footer1-1r P {
  color: #ffffff;
}

#ext_menu-1v .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-1v .navbar-caption {
  color: #ffffff;
}
#ext_menu-1v .navbar-toggler {
  color: #ff0000;
}
#ext_menu-1v .close-icon::before,
#ext_menu-1v .close-icon::after {
  background-color: #ff0000;
}
#ext_menu-1v .link,
#ext_menu-1v .dropdown-item {
  color: #ff0000;
  font-family: 'Open Sans', sans-serif;
}
#ext_menu-1v .link {
  font-size: 0.6rem;
}
#ext_menu-1v .dropdown-item,
#ext_menu-1v .nav-dropdown-sm .link {
  font-size: 0.650rem;
}
#ext_menu-1v .link:hover,
#ext_menu-1v .dropdown-item:hover,
#ext_menu-1v .link:focus,
#ext_menu-1v .dropdown-item:focus {
  color: #000000;
}
#ext_menu-1v .link[aria-expanded="true"],
#ext_menu-1v .dropdown-menu {
  background: #000000;
}
#ext_menu-1v .nav-dropdown-sm .link:focus,
#ext_menu-1v .nav-dropdown-sm .link:hover,
#ext_menu-1v .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-1v .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#ext_menu-1v .navbar,
#ext_menu-1v .nav-dropdown-sm,
#ext_menu-1v .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-1v .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#ext_menu-1v .bg-color.transparent .link {
  color: #ff0000;
  transition: none;
}
#ext_menu-1v .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-1v .bg-color.transparent.opened .link:hover,
#ext_menu-1v .bg-color.transparent.opened .link:focus {
  color: #000000;
}
#ext_menu-1v .link[aria-expanded="true"],
#ext_menu-1v .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#footer1-1w P {
  color: #ffffff;
}

#ext_menu-1y .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-1y .navbar-caption {
  color: #ffffff;
}
#ext_menu-1y .navbar-toggler {
  color: #ff0000;
}
#ext_menu-1y .close-icon::before,
#ext_menu-1y .close-icon::after {
  background-color: #ff0000;
}
#ext_menu-1y .link,
#ext_menu-1y .dropdown-item {
  color: #ff0000;
  font-family: 'Open Sans', sans-serif;
}
#ext_menu-1y .link {
  font-size: 0.6rem;
}
#ext_menu-1y .dropdown-item,
#ext_menu-1y .nav-dropdown-sm .link {
  font-size: 0.650rem;
}
#ext_menu-1y .link:hover,
#ext_menu-1y .dropdown-item:hover,
#ext_menu-1y .link:focus,
#ext_menu-1y .dropdown-item:focus {
  color: #000000;
}
#ext_menu-1y .link[aria-expanded="true"],
#ext_menu-1y .dropdown-menu {
  background: #000000;
}
#ext_menu-1y .nav-dropdown-sm .link:focus,
#ext_menu-1y .nav-dropdown-sm .link:hover,
#ext_menu-1y .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-1y .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#ext_menu-1y .navbar,
#ext_menu-1y .nav-dropdown-sm,
#ext_menu-1y .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-1y .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#ext_menu-1y .bg-color.transparent .link {
  color: #ff0000;
  transition: none;
}
#ext_menu-1y .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-1y .bg-color.transparent.opened .link:hover,
#ext_menu-1y .bg-color.transparent.opened .link:focus {
  color: #000000;
}
#ext_menu-1y .link[aria-expanded="true"],
#ext_menu-1y .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#footer1-1z P {
  color: #ffffff;
}
